  <!--src/views/visuals/beehiveChart.ejs-->

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/WT2/css/style.css">
    <title>Beehive Chart</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
    <script src="/WT2/js/beehiveChart.js"></script>
  </head>

  <body>
    <nav id="siteHeader">
      <ul>
        <li><a href="/WT2">Home</a></li>
        <li><a href="/WT2/beehiveChart">Beehive Chart</a></li>
      </ul>
    </nav>

    <div class="chart-controls">
      <label for="beehiveSelect">Select Beehive:</label>
      <select id="beehiveSelect">
        <% beehiveNames.forEach(function(name) { %>
            <option value="<%= name %>"><%= name %></option>
        <% }) %>
    </select>
    <div id="dateRangeMessage"></div>

      <div class="data-type-checkboxes">
        <label><input type="checkbox" name="dataType" value="humidity"> Humidity</label>
        <label><input type="checkbox" name="dataType" value="temperature"> Temperature</label>
        <label><input type="checkbox" name="dataType" value="weight"> Weight</label>
        <label><input type="checkbox" name="dataType" value="flow"> Flow</label>
      </div>

      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" />

      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" />

      <button id="updateChartButton">Update Chart</button>
      <div id="errorMessage"></div>

      <div id="loadingOverlay" style="display: none"></div>
      <img id="loadingIndicator" src="/WT2/images/bntIPkXg.gif" alt="Loading..." style="display: none" />

    </div>

    <div id="chartDiv"></div>
  </body>

  </html>