<!-- src/views/home/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/WT2/css/style.css">
  <title>WT2</title>

</head>

<body>
  <nav id="siteHeader">
    <ul>
      <li><a href="/WT2">Home</a></li>
      <li><a href="/WT2/beehiveChart">Beehive Chart</a></li>
    </ul>
  </nav>

  <p> Welcome to a visualization page of the beehive data collection!</p>
</body>

</html>